body {
    background-color: #fffdfdfd;
}

h1 {
    text-align: center;
    font-size: xx-large;
    background-color: #ecf0f1;
}

#list{
    list-style: none; /* Remove bullet points or numbering */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    position: absolute;
    top: 15vh;
    left: 20%;
    height: 70vh;
    width: 60vw;
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x :hidden;
}

/* custom scrollbar */
#list::-webkit-scrollbar {
    width: 20px;
}

#list::-webkit-scrollbar-track {
    background-color: transparent;
}

#list::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

#list::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

li{
    /* Add some vertical spacing between items */
    margin: 10px 0; 
    width: 60vw;
    height: 15vh;
    background-color: #ecf0f1;
}

li:hover{
    background-color :#a8bbbf;
}

#itemThumbnail{
    width: 10vw;
    height: 15vh;
}

#deleteIcon{
    position: relative;
    top: -2vh;
    left: 45vw;
    font-size: 4vmin;
}

#deleteIcon:hover{
    color: rgb(255, 0, 0);
}

#itemName{
    position: relative;
    top: -18vh;
    left: 18%;
    font-size: 3vmin;  
}

#itemCategory{
    position: relative;
    top: -15vh;
    left: 18%;
}

a{
    position: relative;
    top: 80vh;
    left: 45%;
}