body {
    background: conic-gradient(from 135deg, #9DA7E0, #CCD8FF);
    height: 96vh;
}

h1 {
    text-align: center;
    font-size: xx-large;
    background-color: #ecf0f1;
}

#list {
    list-style: none;
    /* Remove bullet points or numbering */
    margin: 0;
    /* Remove default margins */
    padding: 0;
    /* Remove default padding */
    position: absolute;
    top: 15vh;
    left: 20%;
    height: 70vh;
    width: 60vw;
    border-radius: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* custom scrollbar */
#list::-webkit-scrollbar {
    width: 20px;
}

#list::-webkit-scrollbar-track {
    background-color: transparent;
}

#list::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

#list::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

li {
    /* Add some vertical spacing between items */
    margin: 10px 10px;
    width: 60vw;
    height: 15vmin;
    background-color: #ecf0f1;
}

li:hover {
    background-color: #a8bbbf;
}

#itemThumbnail {
    width: 10vw;
    height: 15vmin;
}

#deleteIcon {
    position: relative;
    top: -2vh;
    left: 75%;
    font-size: 3vmin;
}

#deleteIcon:hover {
    color: rgb(255, 0, 0);
}

#itemName {
    position: relative;
    top:  -120%;
    left: 18%;
    font-size: 3vmin;
}

#itemCategory { 
    position: relative;
    top: -100%;
    left: 18%;
    font-size: 2vmin;
}

a {
    position: relative;
    top: 80vh;
    left: 45%;
    color: rgb(98, 35, 35);
}

a:hover{
    color: #ecf0f1;
}

@media(width<=1000px){
    #deleteIcon {
        left: 72%;
    }
}

@media(width<=700px){
    #deleteIcon {
        left: 70%;
    }
    a{
        left: 38%;
    }
}

@media(width<=550px){
    #deleteIcon {
        left: 68%;
    }
    a{
        left: 36%;
    }
}

@media(width<=450px){
    #deleteIcon {
        left: 65%;
    }
    a{
        left: 34%;
    }
}