body {
    background: conic-gradient(from 135deg, #9DA7E0, #CCD8FF);
    height: 96vh;
}

h1 {
    text-align: center;
    font-size: 4vmin;
    color: #f4f4f4;
    margin: 0 auto;
    width: 20vmax;
    min-width: 25vmin;
    height: 5vh;
    border-radius: 10px;
    background-color: rgba(4, 4, 87, 0.5);
}

.box {
    background-color: rgba(4, 4, 87, 0.5);
    max-height: calc(40vh + 30vh);
    width: 60vw;
    margin-top: 15vh;
    margin: 5% auto;
    border-radius: 20px;
}

h2{
    text-align: center;
    color: #f4f4f4;
    font-size: 6vmin;
    padding-top: 1vh;
    /* margin-left: 30%; */
}

#searchInput {
    width: 35vw;
    height: 5vmin;
    margin: 0px 20%;
    border: 5px;
    border-radius: 20px;
}

input[type="text"] {
    text-align: center;
    background: url('../media/search.svg') no-repeat right;
    background-size :25px;
    background-color: #f4f4f4;
}

/* #searchIcon {
    height: 20px;
    position: relative;
    top: 4vmin;
    left: 45vw;
} */

#resultItems {
    width: 59vw;
    margin-left: 10px;
    margin-top: 20px;
    max-height: 30vh;
    overflow-y: scroll;
    border-radius: 20px;
}

/* custom scrollbar */
#resultItems::-webkit-scrollbar {
    width: 20px;
}

#resultItems::-webkit-scrollbar-track {
    background-color: transparent;
}

#resultItems::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

#resultItems::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

table {
    margin: 0 auto;
    /* Center table horizontally */
    /* background-color: rgba(4, 4, 87, 0.5);; */
    bottom: 1px;
    border-radius: 20px;
}

/* tr {
    background-color: rgba(4, 4, 87, 0.5);;
}
*/

td {
    color: aliceblue;
}

td:hover {
    color: #000;
    background-color: #a8bbbf;
}

button {
    width: 10vw;
    min-width: 122px;
    border-radius: 10px;
    background-color: azure;
}

#favlink {
    min-width: 90px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 40%;
    margin-right: 40%;
}

button:hover {
    color: aliceblue;
    background-color: #9DA7E0;
}